#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=theWeb
GenericName=Web Browser
GenericName[vi]=Bộ duyệt Web
Exec=theweb
Icon=theweb
Categories=Network;WebBrowser;
