:root {
    --bg-color: rgb(40, 40, 40);
    --fg-color: white;
    --font-family: Contemporary;
    --font-size: 10pt;
    
    --hl-color: rgb(0, 80, 170);
    --hl-hover-color: rgb(20, 60, 105);
}

body {
    margin: 0px;
}

div.App {
    display: flex;
    height: 100vh;
    
    background-color: var(--bg-color);
    color: var(--fg-color);
    
    font-family: var(--font-family);
    font-size: var(--font-size);
}

div.AppContainer {
/*     max-width: 800px; */
    width: 100%;
    border-left: 1px solid var(--fg-color);
}

div.AppPanes {
    display: none;
}

div.Sidebar {
    display: flex;
    flex-direction: column;
    width: 400px;
}

div.header {
    display: block;
    font-size: 15pt;
    
    padding: 9px;
    border-bottom: 1px solid var(--fg-color);
}

div.miniheader {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

.Content {
    padding: 9px;
}

div.verticalContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div.verticalContent * {
    margin-top: 3px;
    margin-bottom: 3px;
}

div.verticalContent *:first-child {
    margin-top: 0px;
}

div.verticalContent *:last-child {
    margin-bottom: 0px;
}

div.horizontalLine {
    display: block;
    height: 0px;
    border-bottom: 1px solid var(--fg-color);
}

div.ListItem {
    padding: 9px;
}

div.ListItem:hover {
    background-color: var(--hl-hover-color);
}

div.ListItem.selected {
    background-color: var(--hl-color);
}

input[type=text], input[type=url] {
    width: 100%;
    background-color: var(--bg-color);
    color: var(--fg-color);
    
    border-top: none;
    border-right: none;
    border-left: 1px solid var(--fg-color);
    border-bottom: 1px solid var(--fg-color);
    
    padding: 3px;
    outline: none;
}