@font-face {
  font-family: 'Contemporary';
  src: local('Contemporary'), url(./fonts/Contemporary-Regular.ttf) format('ttf');
}

:root {
    --bg-color: rgb(40, 40, 40);
    --bg-color-faded: rgba(40, 40, 40, 0.75);
    --bg-hover-color: rgb(60, 60, 60);
    --bg-active-color: rgb(20, 20, 20);
    
    --fg-color: white;
    --fg-disabled-color: rgb(127, 127, 127);
    --font-family: Contemporary;
    --font-size: 10pt;
    
    --hl-color: rgb(0, 80, 170);
    --hl-hover-color: rgb(20, 60, 105);
}

body {
    margin: 0px;
    user-select: none;
}

h1 {
    font-weight: normal;
    font-size: 20pt;
}

div.App {
    display: flex;
    height: 100vh;
    
    background-color: var(--bg-color);
    color: var(--fg-color);
    
    font-family: var(--font-family);
    font-size: var(--font-size);
}

div.AppContainer {
/*     max-width: 800px; */
    width: 100%;
}

div.AppPanes {
    display: none;
}

div.Sidebar {
    display: flex;
    flex-direction: column;
    width: 400px;
    border-right: 1px solid var(--fg-color);
}

div.header {
    display: flex;
    font-size: 15pt;
    
    border-bottom: 1px solid var(--fg-color);
}

div.header.sticky {
    position: sticky;
    top: 0px;
    
    background-color: var(--bg-color);
}

div.headerText {
    padding: 9px;
    flex-grow: 1;
}

div.miniheader {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

div.headerButton {
    display: flex;
    height: 42px;
    width: 42px;
    align-items: center;
    justify-content: center;
}

div.headerButton:hover {
    background-color: var(--bg-hover-color);
}

div.headerButton:active {
    background-color: var(--bg-active-color);
}

.Content {
    padding: 9px;
}

.Scrollable {
    overflow-y: auto;
}

div.verticalContent {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

div.verticalContent > * {
    margin-top: 3px;
    margin-bottom: 3px;
}

div.verticalContent.NoSpacing > * {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.verticalContent *:first-child {
    margin-top: 0px;
}

div.verticalContent *:last-child {
    margin-bottom: 0px;
}

div.horizontalLine {
    display: block;
    height: 0px;
    border-bottom: 1px solid var(--fg-color);
}

div.ListItem {
    display: flex;
    padding: 9px;
    align-items: center;
}

div.ListItem:hover {
    background-color: var(--hl-hover-color);
}

div.ListItem.selected {
    background-color: var(--hl-color);
}

input[type=text], input[type=url] {
    width: 100%;
    background-color: var(--bg-color);
    color: var(--fg-color);
    
    border-top: none;
    border-right: none;
    border-left: 1px solid var(--fg-color);
    border-bottom: 1px solid var(--fg-color);
    
    padding: 3px;
    outline: none;
}

div.alert {
    border: 1px solid white;
    background-color: rgb(255, 100, 0);
    color: white;
    
    width: 100%;
    box-sizing: border-box;
    padding: 3px;
}

#modalContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
}

div.modalBackground {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    
    display: flex;
    justify-content: flex-end;
    
    background-color: var(--bg-color-faded);
}

div.modalBox {
    height: 100%;
    background-color: var(--bg-color);
    border-left: 1px solid var(--fg-color);
}

div.ListItem.HistoryItem {
    display: flex;
}

div.ListItem.HistoryItem .url {
    color: var(--fg-disabled-color);
}

@media (max-width: 500px) {
    div#AppSidebar {
        width: 50px;
    }
    
    div#AppSidebar span.ListItemText {
        display: none;
    }
}